name: Publish to PyPI

on:
  push:
    tags:
      - '*'  # Trigger on any tag push

jobs:
  build-and-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      
      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          python -m pip install build
      
      - name: Build package
        working-directory: ./logxpy
        run: python -m build
      
      - name: Store distribution packages
        uses: actions/upload-artifact@v4
        with:
          name: python-package-distributions
          path: logxpy/dist/
      
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: logxpy/dist/
          password: ${{ secrets.PYPI_API_TOKEN }}
          skip-existing: true
